body {
    margin: 0;
    padding: 0;
}
.container {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.block {
    margin: 0 auto;
    border: 2px solid #242b2e;
    background: #3b3b3e;
    width: 200px;
    height: 300px;
    border-radius: 50px;
}
.krug {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.red {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 70px;
    height: 70px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: #000000;
}
.yellow {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 70px;
    height: 70px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: #000000;
}
.green {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 70px;
    height: 70px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: #000000;
}
p {
    font-size: 22px;
    font-weight: 600;
}